@font-face {
	font-family: 'CENTAUR';
	src: url('../fonts/CENTAUR.eot');
	src: local('CENTAUR'), url('../fonts/CENTAUR.woff') format('woff'), url('../fonts/CENTAUR.ttf') format('truetype');
}

@font-face {
	font-family: 'Hebrew';
	src: url('../fonts/Hebrew.eot');
	src: local('Hebrew'), url('../fonts/Hebrew.woff') format('woff'), url('../fonts/Hebrew.otf') format('opentype');

}

body {
    font-family: 'CENTAUR';
}

html {
	/*background-color: #74815c;*/
	background-color: #5a7e63; /*Up till 5/31/22*/
	background-color: #4a6e43; /*Up till 8/25/22*/
	background-color: #496e4d;
	background-color: #446948;
	/*background-color: #6f816f;*/
	/*background-color: #4a6651;*/
}

#homeDropCapsR {
	float: left;
	/*left: -50px; */
	font-size: 50px; 
	line-height: 32px; 
	padding-top: 10px; 
	/*padding-right: 20px; */
	/*padding-left: -30px;*/
	margin-left: -110px;
	margin-right: 10px;
}

#homeDropCapsU {
	float: left;
	left: -50px; 
	font-size: 50px; 
	line-height: 32px; 
	padding-top: 12px; 
	padding-right: 2px; 
	padding-left: 3px;
}

.dropCaps { 
	float: left;
	left: -50px; 
	font-size: 50px; 
	line-height: 32px; 
	padding-top: 4px; 
	padding-right: 2px; 
	padding-left: 3px;
	/*margin-left: -10px;*/
}
.attribution {
	margin-top: -15px;
	margin-left: 25px;
	/*background: red;*/
}
.row {
	overflow: auto;
	/*background-color: yellow;*/
	min-height: 5px;
	display: table-row;
}
.leftColumn {
	width: 35%;
	/*background-color: blue;*/
	display: table-cell;
	padding-right: 40px;
	text-align: right;
    vertical-align: top;
}
.rightColumn {
	width: 50%;
	/*background-color: red;*/
	display: table-cell;
	text-align: left;
}


.grantsRightColumn {
	width: 60%;
	/*background-color: red;*/
	display: table-cell;
	text-align: left;
}

.grantsLeftColumn {
	width: 35%;
	/*background-color: blue;*/
	display: table-cell;
	padding-right: 40px;
	text-align: right;
    vertical-align: top;
}

.grantsRow {
	overflow: auto;
	/*background-color: yellow;*/
	min-height: 5px;
	display: table-row;
}

/*Root Page*/

#rootTitle {
	font-size: 64pt;
	text-align: center;
	margin-top: 50px;
}
#rootTitleQ {
	font-size: 108pt;
	font-style: italic;
	padding-right: 15px;
}
#rootBody {
	margin: 0 auto;
	font-variant: small-caps;
	font-size: 24pt;
	line-height: 26px;
	text-align: justify;
	margin-top: 100px;
	width: 650px;
}
#rootEnter {
	text-align: center;
	margin-top: 100px;
	font-size: 24pt;
	font-variant: small-caps;
}
#rootEnterLink {
	color: #000000;
	text-decoration: none;
}


/*Susan Barron Page*/

#sbTitle {
	font-size: 48pt;
	text-align: center;
	margin-top: 65px;
	letter-spacing: 5px;
}
#sbSubtitle {
	font-size: 24pt;
	text-align: center;
	margin-top: 10px;
	font-variant: small-caps;
	letter-spacing: 5px;
}
#sbBody {
	margin: 0 auto;
	font-variant: small-caps;
	font-size: 14pt;
	line-height: 22px;
	text-align: center;
	margin-top: 34px;
	width: 1200px;
}

.copyright {
	font-size: 12pt;
}

#sbEnter {
	text-align: center;
	margin-top: 20px;
	font-size: 24pt;
	font-variant: small-caps;
}
#sbEnterLink {
	color: #000000;
	text-decoration: none;
}
#sbLogo {
	font-size: 18pt;
	text-align: center;
	margin-top: 20px;
}
#sbLogoQ {
	font-size: 32pt;
}


/*Pre-Home Page*/

#preHome {
	margin: 0 auto;
	width: 405;
	margin-top: 30px;
	font-size: 10pt;
	text-align: right;
	line-height: 16pt;
}

#prehomeImg {
	height: 340px;
}


/*Home Page*/

#homeOuter {
	width: 920px;
	height: 700px;
	margin: 50px auto;
	text-align: center;
}
#homeLeft, #homeRight{
	width: 447px;
	height: 100%;
	text-align: justify;
}
#homeLeft, #homeRightBox{
	float: left;
}
#homeRight, #homeLeftBox {
	float: right;
}
#homeLeftBox, #homeRightBox{
	shape-outside: content-box;
	margin-top: 150px;
	width: 110px;
	height: 488px;
	/*background: blue;*/
}
#homeLinks{
	position: absolute;
	width: 250px;
	height: 488px;
	margin-left: 338px;
	margin-top: 160px;
	padding-top: 20px;
	text-align: center;
	font-size: 12pt;
	text-transform: uppercase;
	/*font-variant: small-caps;*/
}
.homeLinks {
	color: #000000;
	text-decoration: none;
}
.homeTopText{
	font-size: 16pt;
}



/*Biography Page*/

#bioTitle {
	height: 30px;
	width: 720px;
	margin: 30px auto;
	font-size: 26pt;
	font-variant: small-caps;
	/*font-weight: bolder;*/
}
#bioTitleLeft {
	text-align: right;
	float: left;
	width: 330px;
}
#bioTitleRight {
	margin: 0 auto;
	text-align: left;
	float: right;
	width: 330px;
}
#bioOuter {
	width: 900px;
	height: 830px;
	margin: 20px auto;
	text-align: center;
	/*background: red;*/
}
#bioLeft, #bioRight {
	width: 420px;
	height: 100%;
	text-align: justify;
}
#bioLeft, #bioRightBox {
	float: left;
}
#bioRight, #bioLeftBox {
	float: right;
}
#bioLeftBox, #bioRightBox {
	shape-outside: content-box;
	margin-top: 280px;
	width: 146px; /*Originally 160*/
	height: 420px;
	/*background: blue;*/
}
#bioPic {
	position: absolute;
	width: 315px;
	height: 413px;
	margin-left: 290px;
	margin-top: 288px;
	text-align: center;
	font-size: 14pt;
	font-variant: small-caps;
	/*background: green;*/
}
#bioLinks {
	margin: 100px auto;
	text-align: center;
	font-size: 14pt;
	font-variant: small-caps;
}
.bioLinks {
	color: #000000;
	text-decoration: none;
}
#bioDropCapsA {
	float: left;
	left: -50px; 
	font-size: 50px; 
	line-height: 32px; 
	padding-top: 4px; 
	padding-right: 2px; 
	padding-left: 3px;
	margin-left: -149;
}




/*Critical Excerpts Page*/

#critTitle {
	height: 30px;
	width: 720px;
	margin: 30px auto;
	font-size: 26pt;
	font-variant: small-caps;
	/*font-weight: bolder;*/
}
#critTitleLeft {
	text-align: right;
	float: left;
	width: 330px;
}
#critTitleRight {
	margin: 0 auto;
	text-align: left;
	float: right;
	width: 330px;
}
#critOuter {
	width: 720px;
	height: 2391px;
	margin: 20px auto;
	text-align: center;
}
#critLeft, #critRight {
	width: 332px;
	height: 100%;
	text-align: justify;
	margin-bottom: 20px;
}
#critLeft {
	float: left;
}
#critRight {
	float: right;
}
#critLinks {
	margin: 100px auto;
	text-align: center;
	font-size: 14pt;
	font-variant: small-caps;
}
.critLinks {
	color: #000000;
	text-decoration: none;
}




/*Collections Page*/

#colTitle {
	height: 30px;
	width: 720px;
	margin: 30px auto;
	font-size: 26pt;
	font-variant: small-caps;
	/*font-weight: bolder;*/
}
#colTitleLeft {
	text-align: right;
	float: left;
	width: 275px;
}
#colTitleRight {
	margin: 0 auto;
	text-align: left;
	float: right;
	width: 405px;
}
#colOuter {
	width: 720px;
	height: 500px;
	margin: 20px auto;
	text-align: center;
	display: table;
}
#colLinks {
	margin: 100px auto;
	text-align: center;
	font-size: 14pt;
	font-variant: small-caps;
}
.colLinks {
	color: #000000;
	text-decoration: none;
}

.colCross {
	font-weight: lighter;
}

/*Exhibition Page*/

#exTitle {
	height: 30px;
	width: 720px;
	margin: 30px auto;
	font-size: 26pt;
	font-variant: small-caps;
	/*font-weight: bolder;*/
}
#exTitleLeft {
	text-align: right;
	float: left;
	width: 275px;
}
#exTitleRight {
	margin: 0 auto;
	text-align: left;
	float: right;
}

.exItem {
	/*background: yellow;*/
	/*width: 100%;*/
}

.exDate {
	display: inline-block;
	width: 15%;
	/*background: blue;*/
    vertical-align: top;
}

.exName {
	display: inline-block;
	width: 85%;
	/*background: green;*/
}

/*Contact*/
#contactTitle {
	font-size: 64pt;
	text-align: center;
	margin-top: 60px;
	/*height: 50px;*/
}

#contactTitle img {
	height: 100px;
}

#contactBody {
	font-size: 20pt;
	text-align: center;
	font-variant: small-caps;
	margin-top: 50px;
}

#contactBody a {
	color: black;
	text-decoration: none;
	font-size: 22pt;
}

/*#contactTitle {
	margin-top: 50px;
	text-align: center
}*/

#contactLink {
	margin: 30px auto;
	text-align: center;
	font-size: 16pt;
	font-variant: small-caps;
}

#contactFooter {
	margin: 0 auto;
	font-variant: small-caps;
	font-size: 14pt;
	line-height: 26px;
	text-align: center;
	margin-top: 120px;
	width: 1050px;
}

.reliquaireQ {
	font-size: 24pt;
}

/*Publications*/
#pubTitle {
	height: 30px;
	width: 720px;
	margin: 30px auto;
	font-size: 18pt;
	font-variant: small-caps;
	font-weight: bolder;
}
#pubTitleLeft {
	text-align: right;
	float: left;
	width: 275px;
}
#pubTitleRight {
	margin: 0 auto;
	text-align: left;
	float: right;
	width: 405px;
}
#pubBookNote {
	font-size: 9pt;
}

/* HEBREW */
.hebrew {
	font-family: 'Hebrew';
	letter-spacing: 4px;
}

.slideshow {
	/*background-color: red;*/
	text-align: center;
	margin: 40px auto;
	width: 90%;
}

.slideshow .slide {
	/*background-color: green;*/
}

.slideshow img {
	min-width: 400px;
	max-height: 600px;
	border: 1px solid #000;
}

.slideshow p {
	margin: 10px auto;
	width: 400px;
	text-align: left;
}

.slideshowButton {
  font-family: 'CENTAUR';
  background-color: #00000000; /* Green */
  border: 1.5px black solid;
  color: black;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  right: 16px;
  bottom: 14px;
  position:absolute;
  font-size: 14px;
  font-weight: 800;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  
}